
// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$menu-bg: linear-gradient(60deg, #29323c 0%, #485563 100%);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: rgba(255, 112, 67, 1);
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$success:#78a4ca;
$white: white;
$bg: #607d8b;