@import 'reset';
@import 'variables';


html, body {
    height: 100%;
    width: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


